@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: hsl(30, 54%, 90%);
  line-height: 1.5rem;
}

.main {
  background: hsl(0, 0%, 100%);
  padding: 0 20px;
  overflow: hidden;
}
.main .brown {
  color: hsl(332, 51%, 32%);
}
.main hr {
  margin: 30px auto;
  width: 320px;
  color: hsl(24, 5%, 18%);
  opacity: 50%;
}
.main .time-item {
  display: flex;
  gap: 40px;
}
.main .time-item .dot {
  height: 5px;
  position: relative;
  top: 10px;
  left: 10px;
  width: 5px;
  background: hsl(332, 51%, 32%);
  border-radius: 50%;
}
.main .time-item p {
  margin-bottom: 5px;
}
.main .time-item p span {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: hsl(24, 5%, 18%);
}
.main .img {
  top: 0;
  left: -20px;
  background: url("/images/image-omelette.jpeg");
  background-size: cover;
  width: 130%;
  background-position: center;
  position: relative;
  padding: 0;
  margin: 0;
  height: 210px;
  margin-bottom: 45px;
}
.main h1,
.main h2 {
  line-height: 2rem;
  font-size: 1.8rem;
  margin-bottom: 30px;
  font-family: "Young Serif", serif;
  color: hsl(24, 5%, 18%);
  font-weight: 400;
}
.main p {
  font-family: "Outfit", sans-serif;
  color: hsl(30, 10%, 34%);
  font-weight: 400;
  margin-bottom: 20px;
}
.main .time {
  background: hsl(330, 100%, 98%);
  height: 190px;
  display: flex;
  padding: 20px;
  position: relative;
  left: -10px;
  margin: 20px 10px;
  flex-direction: column;
  border-radius: 10px;
}
.main .time h3 {
  color: hsl(332, 51%, 32%);
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  margin-bottom: 10px;
}
.main .instructions .dot {
  background: transparent;
  color: hsl(332, 51%, 32%);
  top: 0px;
}
.main .nutritions hr {
  margin: -10px auto 10px auto;
}
.main .nutritions .nutrition-row {
  display: flex;
  justify-content: flex-start;
}
.main .nutritions .nutrition-row .nutrition-row-1 {
  font-family: "Outfit", sans-serif;
  color: hsl(30, 10%, 34%);
  font-weight: 400;
  margin-bottom: 20px;
  width: 50%;
  padding-left: 30px;
}
.main .nutritions .nutrition-row .nutrition-row-2 {
  width: 50%;
  color: hsl(332, 51%, 32%);
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  padding-left: 30px;
}

.attribution {
  position: fixed;
  bottom: 0;
  margin: 40px auto;
  width: 100%;
  background: transparent;
  z-index: 1;
  text-align: center;
}
.attribution a {
  color: hsl(24, 5%, 18%);
  text-decoration: none;
}
.attribution a:hover {
  background: hsl(24, 5%, 18%);
  color: hsl(330, 100%, 98%);
}

@media screen and (min-width: 1440px) {
  .main {
    width: 550px;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 26px;
    border-radius: 20px;
  }
  .main .img {
    width: 500px;
    left: 0;
    border-radius: 20px;
  }
  .main h1 {
    margin-bottom: 26px;
  }
  .main hr {
    width: 500px;
  }
}
@media screen and (min-width: 768px) {
  .main {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    margin: 10px auto;
  }
  .img {
    border-radius: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
